
    <style>
      #map {
        width: 500px;
        height: 400px;
      }
    </style>

    <div id="map"></div>
<script>

function initMap() {

  var myLatLng = {lat: 54.3500, lng: 18.6333};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: myLatLng
  });

  var infowindow = new google.maps.InfoWindow({
    content: "contentString"
  });

  function makeInfoWindowEvent(map, infowindow, contentString, marker) {
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.setContent(contentString);
      infowindow.open(map, marker);
    });
  }

 <%= for item <- @point_list do %>



  marker = new google.maps.Marker({
      position: new google.maps.LatLng(<%= item.lat %>,<%= item.lon %>),
      map: map,
      title: "<%= item.name %>"
  });
  makeInfoWindowEvent(map, infowindow, "<%= item.name %>", marker);


  <% end %>
}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqCkL32Ov14LEutwkNpoStCEce1r-_yd4&signed_in=true&callback=initMap"></script>




<div class="jumbotron">
  <h2>Witness me!</h2>
</div>